* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #313030;
}

/*____________________________________________*/
/*______________ FIRST PAGE___________________*/
/*____________________________________________*/

.container {
  width: 100%;
  height: 100vh;
  padding-top: 200px;
  padding-left: 180px;
  background-image: url("background.jpg");
  background-size: cover;
}

.content {
  margin-top: 80;
  max-width: 610px;
}

.content h1 {
  font-size: 3.4rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.content p {
  margin-top: 10px;
  line-height: 25px;
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 22px;
}

.link {
  /*_____ link to the website___*/
  margin-top: 30px;
}

.gehry {
  color: #7b5c01;
  font-weight: bold;
  font-size: 1.24rem;
}

/*____________________________________________*/
/*______________ ANSWER PAGE___________________*/
/*____________________________________________*/

.my-question {
  margin: 10 0 20px 70;
  width: 500px;
  border-bottom: 2px solid #a77903;
  padding: 20 0 30px 10;
  font-size: 1.6rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.my-answer {
  margin: 0 40 100 80px;
  max-width: 3000px;
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3rem;
}
