* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  color: #313030;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #f8a33c;
  padding-top: 150px;
  padding-left: 180px;
}

.content {
  margin-top: 10%;
  max-width: 580px;
}

.content h1 {
  font-size: 3.4rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.content p {
  margin-top: 10px;
  line-height: 25px;
  font-size: 20px;
}

a {
  color: #fff;
}
.link {
  margin-top: 30px;
}

.gehry {
  color: #7b5c01;
  font-weight: bold;
  font-size: 1.24rem;

  /*____________________________________________*/
}

#question-1 {
  padding-left: 40px;
  text-align: left;
}

#question-1 h3 {
  /* QUESTION_1 */

  margin: 10 0 20px 30;
  width: 500px;
  border-bottom: 2px solid #a77903;
  padding: 20 0 30px 10;
}

#question-1 p {
  /* ANSWER_1 */
  margin: 0 40 100 40px;
  max-width: 940px;
}

#question-1 img {
  /* IMAGE_1 */
  margin: 40;
  width: 30%;
  float: right;
}

/* */

.my-question {
  margin: 10 0 20px 70;
  width: 500px;
  border-bottom: 2px solid #a77903;
  padding: 20 0 30px 10;
}

.my-answer {
  margin: 0 40 100 80px;
  max-width: 3000px;
}
