:root {
  --primary-bg-color: #adc09c;
  --text-color: #000000;
  --main-bg-color: #333;
  --main-text-color: #fff;
  --main-btn-bg-color: #938989;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Albert Sans", sans-serif; /* serif font for the header */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  /* san serif, bubbly font for the content as it has a fun theme */
  background-color: white;
  color: #365817;
  padding-top: 30px;
  padding-left: 60px; /* main color: light green ( nature, safety,...) the topic is about DIY */
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 14.5px;
}

.tutorial {
  color: rgb(0, 0, 0);
  padding-top: 0px;
  padding-left: 48px;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.title {
  margin: 20px 120px 0px 120px;
  width: 1000px;
  padding: 20 0 30px 10;
  font-size: 60px;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.berrybunch {
  margin: 0 110px 40px 120px;
  width: 800px;
  font-size: 25px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3rem;
  color: #365817;
}

.content {
  /* In order to emphasize it. I make the font size of the introduction is slightly larger than the rest */
  margin: 0 110px 88px 120px;
  max-width: 3000px;
  font-size: 22px;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
}

/* container for main content */

.container2 {
  margin-left: 120px; /* I was planning on putting the material part at the bottom. But then i changed and bring it to the top, as users need to know what they are gonna need first before starting to do anything.*/
}
.box13 {
  border: 2px;
  height: auto;
  width: 170px;
  float: left;
  font-size: 18px;
  line-height: 30px;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

#containers {
  width: 480px;
  margin-left: 110px;
  margin-right: auto;
}

.box2 {
  /* I put the text íntruction right next to the video so user can watch and read at the same time. Moreover, its like a summary of what have been shown */
  background: #eee;
  border: 1px solid;
  width: 490px;
  position: relative;
  top: -588px;
  left: 530px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

/* Media player styling */
.media-player {
  width: 500px;
  padding-left: 0px;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: #739553;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* Footer styling */

/* change the color to green to match the theme */
footer {
  background-color: #365817;
  color: var(--main-text-color);
  text-align: center;
  margin-top: -300px;
  width: 100%;
  position: relative;
}
