



h1{
    color:brown;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Miniver", cursive;
  font-weight: 400;
  font-style: normal;

    }
}

li{
    color:blue
}

h3{
    color:mediumvioletred
}

p{
    color:lime
}

strong{
    color:darkgoldenrod
}

body{
    text-align: center;
}